@{
    ViewBag.Title = "Contact";
}
<h2>Contact Build Versioning Manager Support</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:BuildVersioningManagerSupport@example.com">BuildVersioningManagerSupport@example.com</a><br />
</address>